/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 11:28:16 AM
    Author     : ADMIN
*/
body, html{
    background-color:navy;
    font-family:sans-serif;
    font-size: 100%;
    align-items: center;
    width:100%;
    margin:0;
}


.container{
    width: 100%;
    margin: auto;
}
.card {
    background:#FFE4E1;
    border-radius: 100px;
    background-repeat:no-repeat;
    background-position: right center;
    border:3px solid white;
    padding:100px;
    font-size: 100%;
    width:40%;
    height:auto;
    margin:auto;
    vertical-align: middle;
    min-height: 470px;
    max-width: 700px;
    background: -webkit-linear-gradient(-90deg, #2193b0, #6dd5ed); 
    background: -o-linear-gradient(-90deg, #2193b0, #6dd5ed); 
    background: -moz-linear-gradient(-90deg, #2193b0, #6dd5ed); 
}

.btn{    
    background-color:crimson;
    border-radius: 5px;
    font-size: 100%;
    color:white;
    border: none !important;
    margin-bottom: 5%;
    width:auto;
    height:50px;
    margin-top: 5%;
    min-width: 150px;
    
    box-shadow: 5px 5px  ivory;
    
}

.btn:hover{    
    color: navy;
    background-color:#ADFF2F;
    box-shadow: 5px 5px navy ;
    
}

p{
    width:60%;
    height:auto;
    font-size: 100%;
}

#details input,select{
    margin-bottom: 2%;
    width: 60%;
    height: 40px;
    border-radius: 5px;   
    min-width: 150px;
    border:none;
    background-color:ivory;
    
      
}

#ques input {
    background-color:#FFD700;
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:1%;
    margin-top:1%;
    cursor:pointer;
    font-family: serif;
    width:60%;
    height:100px;  
}

#ques input +label{
    font-family: Times;
    color:maroon;
    font-style: italic;
    margin-top: 4%;
    font-size: 80%;
    font-weight: bold;
    
   
}


#ques input[type=radio] {
    margin-left: 1%;    
    width:1em;
    height:1em;
    display: inline-block;
}

#ques1 {
    border-radius: 25px;
    background-color:coral;
    padding: 20px; 
    width: 60%;
    height: auto; 
    font-family: serif;
    color:white;
    font-size: 100%;
    margin-bottom:5%;
     min-width: 150px;
    box-shadow: 3px 3px  gold;
     
}



#desc{
    font-size: 100%;
    color:#00008B;
    margin-top:7%;
}


#counter{
    color:#006400;
    font-size: 100%;
    
}

.tab{
    border: none;
}

#we{
    width: auto;
    height: 30px; 
    border-radius: 5px;
    text-decoration: underline;
}

h2{
    
    padding: 20px; 
    width: 80%;
    height: 30px; 
    border-radius:5px;
    color:white;
    font-family: Times;
    font-size: 100%;
    vertical-align:middle;
    text-transform:uppercase;   
}


h3{
    text-decoration: underline;
    color:maroon
}

#time{
    font-size: 100%;
  
}
h4{
    color:red;
}
span{
    font-size: 100%;
}
@media (min-width: 360px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1rem;} } 
@media (min-width: 500px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1rem;} } 
@media (min-width: 640px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1.2rem;} } 
@media (min-width:960px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span  {font-size:1.2rem;} } 
@media (min-width:1100px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span  {font-size:1.5rem;} }


