/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 26, 2017, 11:28:16 AM
    Author     : ADMIN
*/
body, html{
    background-color:#4682B4;
    font-family:sans-serif;
    font-size: 100%;
    align-items: center;
    width:100%;
    margin:0;
}


.container{
    width: 100%;
    margin: auto;
}
.card {
    background:#FFA500;
    background-image: url('bg1.jpg');
    background-repeat:no-repeat;
    background-position: left center;
    border:1px solid #AAA;
    border-bottom:3px solid #BBB;
    padding:100px;
    font-size: 100%;
    width:40%;
    height:auto;
    margin:auto;
    vertical-align: middle;
    min-height: 470px;
    
}

.btn{    
    background-color:tomato;
    border-radius: 5px;
    font-size: 100%;
    color:white;
    border: none !important;
    margin-bottom: 5%;
    width:auto;
    height:50px;
    margin-top: 5%;
    min-width: 150px;
}

.btn:hover{    
    color: white;
    background-color:#008000;
}

p{
    width:60%;
    height:auto;
    font-size: 100%;
}

#details input,select{
    margin-bottom: 2%;
    width: 60%;
    height: 40px;
    border-radius: 0px;   
    min-width: 150px;
}

#ques input {
    background-color:#FFD700;
    padding:10px;
    border:1px solid #ddd;
    margin-bottom:1%;
    margin-top:1%;
    cursor:pointer;
    font-family: serif;
    width:60%;
    height:100px;
   
}

#ques input +label{
    font-family: Times;
    color:#DC143C;
    font-style: italic;
    margin-top: 3%;
    font-size: 100%;
   
}


#ques input[type=radio] {
    margin-left: 1%;    
    width:1em;
    height:1em;
    display: inline-block;
}

#ques1 {
    border-radius: 25px;
    background-color:#4682B4;
    padding: 20px; 
    width: 60%;
    height: auto; 
    font-family: serif;
    color:white;
    font-size: 100%;
    margin-bottom:5%;
     min-width: 150px;
}



#desc{
    font-size: 100%;
    color:#00008B;
    margin-top:5%;
}


#counter{
    color:#006400;
    font-size: 100%;
    
}

.tab{
    border: none;
}

#we{
    width: auto;
    height: 30px; 
    border-radius: 5px;
}

h2{
    background-color:#4682B4;
    padding: 20px; 
    width: 80%;
    height: 30px; 
    border-radius:5px;
    color:white;
    font-family: cursive;
    font-size: 100%;
    
}
h3{
    text-decoration: underline;
    color:maroon
}

#time{
    font-size: 100%;
}
h4{
    color:red;
}
span{
    font-size: 100%;
}
@media (min-width: 360px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1rem;} } 
@media (min-width: 500px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1rem;} } 
@media (min-width: 640px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span {font-size:1rem;} } 
@media (min-width:960px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span  {font-size:1.2rem;} } 
@media (min-width:1100px) { media,ques1, ques input +label,card,body,counter,h2,btn,p,time,span  {font-size:1.5rem;} }


